<!DOCTYPE>
<html>
<head>
	<title>Завершить тест</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset = "utf-8">
<link rel = "stylesheet" href = "web.css">
</head>
<body>
	<center>
	<h1 style = "background-color:#007bff;color:white;height:210px;font-size:160px">Завершение теста</h1>
	<br />
	<div style = "font-size:30px">Ваш ответ на вопрос 1 (Текст вопроса) - "ответ Х"</div>
	<div style = "font-size:30px">Ваш ответ на вопрос 2 (Текст вопроса) - "ответ Х"</div>
	<div style = "font-size:30px">Ваш ответ на вопрос 3 (Текст вопроса)- "ответ Х"</div>
	<div style = "font-size:50px">Вы уверены в своих ответах и хотите завершить тест?</div>
	<br />
	<a href = "discl.html"><button class = "buttonlink">Продолжить</button></a>
	<br />
	<br />
	<a href = "chooseTest.html" style = "color:#007bff">К начальной странице</a>
	</center>
	</center>
</body>
</html>